@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
* {
  box-sizing: border-box;
  --bebas: "Bebas Neue", sans-serif;
}
body {
  margin: 0;
  margin-bottom: -4px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

header {
  background-color: rgb(19, 40, 70);
  height: 50px;
  position:relative;
}
main {
  margin-top: 1rem;
}
p.title {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 48px;
  position: absolute;
  top: 2em;
  left: 2em;
}
form#editar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-bottom: 3em;
  margin-bottom: 2em;
}
form#editar section {
  position: relative;
  width: 380px;
  height: 50px;
  padding-left: 1rem;
  padding-top: 5px;
}

form#editar section:hover,
.container article:hover {
  border: 1px solid rgba(48, 90, 57, 0.644);
  background-color: rgba(178, 253, 194, 0.644);
  border-radius: 5px;
  transition: 0.2s ease;
}
article {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;  
  position: relative;
  padding-left: 1rem;
  padding-top: 5px;
  height: 50px;

  p {
    margin-top: 8px;
    font-size: 14px;
  }
}
span.flecha {
  color: rgb(0, 123, 255);
  font-size: 28px;
}

form.clima {
  box-shadow: none;
  border: 0;
  position: relative;
  gap: 0em;
  padding: 0;
  background-color: transparent;
  display: inline;
  width: 95%;
  margin-bottom: 0.5em;
}
form.clima p {
  margin: 0;
  font-family: Roboto condensed;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

form.clima input {
  border: 1px solid gray;
  font-size: 18px;
  padding: 0.3rem;
  border: none;
  border-bottom: 1px solid rgba(192, 190, 190, 0.609);
  width: 75%;
  height: 30px;
  margin-top: 0.5em;
  border-radius: 8px;
}

form.clima input:placeholder-shown {
  color: rgb(151, 149, 149);

}
form.clima input:focus {
  background-color: #eeeaea83;
}

div.tempLocal {
  margin: 1em auto;
  width: 410px;
  height: 40px;
  font-family: "Raleway", sans-serif;
}
div.tempLocal span {
  font-size: 20px;
}
div.tempLocal span#spanTemp {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

input:placeholder-shown {
  font-style: italic;
}

form button {
  font-size: 18px;
  padding: 0.5rem;
  background-color: rgb(42, 70, 116);
  border: 0;
  border-radius: 5%;
  color: bisque;
}

button#obtenerClima {
  position: absolute;
  right: 0;
  border-radius: 15px;
  font-size: 26px;
  padding: 0.3rem;
  width: 40px;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgb(174, 101, 6, 0.7);
    color: purple;
    font-weight: 600;
    outline: 2px solid rgb(208, 136, 2);
  }
}

#map {
  height: 300px;
  width: 350px;
  position: relative;
  border-radius: 10px;
}

div.divError > p {
  color: rgb(255, 0, 0);
  font-size: 14px;
  font-weight: 600;
  font-family: Arial;
}

/*Consulta de clima*/
.mainClima {
  margin: 30px auto;
  min-height: 95vh;
  width: 85%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 80px;

  @media (max-width: 900px) {
    gap: 10px;
    width: 95%;
  }
}
div.consulta-clima {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5em;
  margin-bottom: 3em;
}

news-card {
  max-width: 900px;
  margin: auto;
}

.noticias {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1em;
}

.map-container {
  position: relative;
  width: fit-content;
}
#map {
  border-radius: 20px;
  filter: brightness(0.9);
  outline: 2px solid #012343;
}

.spanHumedad,
.spanTemperatura {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  font-family: Poppins;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 0;
  right: 45%;
  text-shadow: 1px 1px 5px black;
}
.spanTemperatura {  
  transform: translate(-45px, -10px);

  p {
    margin: 10px;
    line-height: 26px;
  }
}
.spanHumedad {
  transform: translateX(100px);

  p {
    margin-top: 0em;
  }
}

.tempLabel {
  font-size: 24px;
}

footer {
  background-color: rgb(40, 29, 49);
  height: 150px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > #text {
  color: white;
  padding: 0.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (max-width: 900px) {
  .liWithIcon {
    padding-left: 10px;
  }
  .liUserName {
    height: 34px;
  }
  nav {
    padding: 0.5em 1em;
    padding-right: 1em;
  }
  .navMenuIcon {
    display: block;
    font-size: 18px;
  }
  ul {
    margin-top: 0.2em;
    height: 30px;
  }
  ul li {
    text-align: right;
  }
  div.tempLocal {
    margin-bottom: 0;
    height: auto;
  }
  form.clima {
    width: 18rem;
    margin-left: 1.5em;
  }
  div.divInline select.selectClima {
    width: 60%;
  }
  div.line {
    margin-bottom: 0;
    margin-top: 3em;
  }
  button#obtenerClima {
    position: absolute;
    left: 70%;
  }
  .tituloResult {
    display: none;
  }

  div#history .tituloResult {
    display: block;
  }
  #divCondiciones {
    display: flex;
    width: auto;
    text-align: center;
    font-family: poppins;
  }

  #map {
    margin: 0 auto;
    height: 60vh;
    min-width: 380px;
    max-width: 450px;
  }
}

@media only screen and (max-width: 600px) {
  body#login {
    background: none;
  }

  p.title {
    position: relative;
    font-size: 44px;
    margin-bottom: 1em;
    top: 0;
    left: 0;
    text-align: center;
    color: rgb(8, 59, 117);
    z-index: 999;
  }

  .sunSticker {
    display: block;
    position: absolute;
    top: 23%;
    left: 38%;
    width: 100px;
  }

  main#index {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    height: 70vh;
  }

  form.login {
    float: none;
    margin: 0;
    width: 20rem;
  }

  body#registro {
    background: none;
    background-color: rgba(166, 221, 243, 0.154);
  }
  main.registro {
    margin-bottom: 2.5em;
  }
  .registroEncabezado {
    width: 20rem;
    border-bottom: 0;
    margin-bottom: -0.5em;
  }
  form.registro {
    width: 20rem;
    border-top: 0;
    border-radius: 0 0 5px 5px;
  }
  form button.registro {
    margin-top: 1em;
    margin-bottom: -1em;
  }
  div.divInline {
    flex-direction: column;
    gap: 1.5em;
  }
  .divInline > :first-child {
    margin-right: 0;
  }
  div.divInline select {
    width: 100%;
  }
  .textoRegistro {
    display: none;
  }

  .liWithIcon {
    padding-left: 10px;
  }

  nav {
    padding: 0.5em 1em;
    padding-right: 0.5em;
  }
  .navUserName {
    display: none;
  }
  .navMenuIcon {
    display: block;
    font-size: 18px;
  }
  ul {
    margin-top: 0.2em;
  }
  ul ul {
    left: auto;
    right: 0;
  }
  ul li {
    text-align: right;
  }
  ul ul li {
    padding: 0.5em;
    font-size: 18px;
  }
  div.tempLocal {
    margin-bottom: 0;
    width: 230px;
    height: auto;
  }
  form.clima {
    width: 18rem;
    margin-left: 1.5em;
  }
  div.divInline select.selectClima {
    width: 60%;
  }
  div.line {
    margin-bottom: 0;
    margin-top: 3em;
  }
  button#obtenerClima {
    position: absolute;
    left: 70%;
  }
  .tituloResult {
    display: none;
  }

  #map {
    margin: 0 auto;
    height: 60vh;
    min-width: 250px;
    width: 300px;
  }
  .resultados {
    margin-inline: auto;
  }


  form#editar section {
    width: 300px;
  }
  .registroEncabezado {
    gap: 2rem;
  }
  form#editar section button {
    left: 65%;
  }

  div#confirmPass {
    display: none;
    flex-direction: column;
    gap: 1em;
    border: 1px solid rgba(100, 98, 98, 0.654);
  }

  span.close {
    align-self: flex-end;
  }
  .eye-icon {
    top: 125px;
    left: 80%;
  }
}

.iconImg { display: none }

.titular-de-programa {
  width: fit-content;  
  height: 80px;
  background-color: rgb(255 255 255 / 0.73);
  padding-inline: 15px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Cinzel;
  position: absolute;
  backdrop-filter: blur(2px);
  box-shadow: 1px 1px 5px 1px rgb(162, 146, 175, 0.1);
  left: calc(50% - (321px / 2));
  top: 0px;  
  z-index: 50;
  border-radius: 5px;
}

.titular-leyenda {
  font-size: 18px;
  font-weight: 400;
  color: gray;
  position: absolute;
  top: -7px;
}

.nombre-titular {
  font-family: Cinzel;
  font-size: 56px;
  font-weight: 600;
  color: black;
}

.nombre-titular.nav {
  font-size: 32px;
  color: white;
}

.relative {
  position: relative;
  display: flex;
  justify-content: center;
}

.sopa-de-letras {
  overflow: hidden;
  width: 350px;
  height: 490px;
}
.oculta-datos-iframe {
  width: 100%;
  height: 40px;
  background-color: rgb(239 247 253);
  z-index: 100;
  position: absolute;
  top: 0;
}
.oculta-datos-iframe::before {
  content: "";
  width: 38%;
  height: 80px;
  background-color: rgb(239 247 253);
  z-index: 110;
  position: absolute;
  top: 0;
}
.oculta-datos-iframe::after {
  content: "";  
  width: 25%;
  @media (min-width: 500px) {
    width: 33%;
  }
  @media (min-width: 700px) {
    width: 36%;
  }
  @media (min-width: 800px) {
    width: 25%;
  }
  height: 80px;
  background-color: rgb(239 247 253);
  z-index: 110;
  position: absolute;
  right: 0;
}

.no-scroll {
  overflow: hidden;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: #f3f3f3;
  z-index: 9999;
  font-family: Roboto Condensed;
  font-size: 24px;

  @media (max-width: 700px) {
    font-size: 18px;
  }
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top-color: #232a53;
  border-bottom-color: rgb(21, 90, 58) ;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

@media (max-width: 800px) {  
  main.mainClima {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    gap: 40px;
  }

  main.mainClima .noticias {
    order: 2;
  }

  main.mainClima .juegos-aside {
    order: 1;
  }
}
summary {
  font-family: "Roboto Condensed", sans-serif;
  visibility: hidden;

  @media ( width < 800px ) {
    visibility: visible;
    font-size: 18px;    
    margin: 15px;
    cursor: default;
  }
}  

@media (max-width:500px) {
  .nombre-titular {    
    font-size: 44px;
  }
}